@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

/* by default, with tailwind, elements are unstyled, even h1 etc.
   Can override this by using @layer and @apply and then apply tailwind styles 
   The main layers are set above, base, components and utilities */
@layer base {
  h1 {
    /* now all h1 elements have this style */
    /* in case of localFont, you can extend it here as well, if you want, eg: font-poppins */
    @apply font-extrabold text-2xl mb-3
  }
}